.aboutus {
    background-color: #EEEEEE;
    margin:-100px auto;
    margin-left: 50px;
    .about {
      flex: 1;
      padding: 20px;
  
      h1 {
        font-size: 24px;
        margin-bottom: 30px;
      }
  
      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
  
      .more-button.MuiButton-containedPrimary {
        background-color: #D32F2F;
        color: white;
        padding: 13px 40px;
      }

      .more-button.MuiButton-containedPrimary:hover {
        background-color: white;
        color: #D32F2F;
        border: 1px solid #D32F2F;
      }
    }
  
    .image {
      flex: 1;
      position: relative;
      margin-top: 150px;
  
      img {
        max-width: 100%;
      }
  
      .topLeftBorder {
        position: absolute;
        top: 0;
        left: 0;
        border-left: 2px solid white;
        border-top: 2px solid white;
        height: 32px;
        width: 32px;
      }
  
      .bottomRightBorder {
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        height: 32px;
        width: 32px;
      }
    }
  }
  