.contact{
    background-color: #EEEEEE;

    .contactwrapper{
        margin: 85px auto;

        h1{
            color: #D32F2F;
            font-size: 40px;
            margin-left: 100px;
        }

        .p{
            color:#999797;
            font-size: 20px;
            margin-left: 100px;
        }

        .moto{
            color: black;
            font-size: 50px;
            margin-left: 100px;
        }

        @media (max-width: 1440px) {
            h1 {
              font-size: 30px; /* Adjust font size as needed */
              margin-left: 50px; /* Adjust margin as needed */
            }
      
            .p {
              font-size: 16px; /* Adjust font size as needed */
              margin-left: 50px; /* Adjust margin as needed */
            }
      
            .moto {
              font-size: 40px; /* Adjust font size as needed */
              margin-left: 50px; /* Adjust margin as needed */
            }
          }
      
          @media (max-width: 768px) {
            h1 {
              font-size: 24px; /* Adjust font size as needed */
              margin-left: 20px; /* Adjust margin as needed */
            }
      
            .p {
              font-size: 14px; /* Adjust font size as needed */
              margin-left: 20px; /* Adjust margin as needed */
            }
      
            .moto {
              font-size: 36px; /* Adjust font size as needed */
              margin-left: 20px; /* Adjust margin as needed */
            }
          }

        .contactform {
            display: flex;
            align-items: flex-start; // Adjust this for vertical alignment
            justify-content: space-between;
            margin: 80px 300px; // Adjust the margin as needed
        
            .info {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-right: 20px; // Adjust the margin between info and inputs
        
              // Style for the info section
              .adress,
              .phone,
              .email {
                margin-bottom: 10px; // Add margin between each section

                p{
                    color: #999797;
                }

                .main{
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                }
              }
            }
        
            .inputs {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
        
              // Style for the inputs section

              .button{
                background-color: #D32F2F;
                color: #EEEEEE;
                
                &:hover{
                    background-color: white;
                    color: #D32F2F;
                    transition: 0.3s ease-in-out;
                    border: 1px solid #D32F2F;
                }
              }
            }
        }

         
    }
}