@media (max-width: 1440px) {
    .inputs .MuiTextField-root {
      font-size: 16px; 
    }
  
    .inputs .button {
      font-size: 16px; 
    }
  }
  
  @media (max-width: 768px) {
    .inputs .MuiTextField-root {
      font-size: 14px;
    }
  
    .inputs .button {
      font-size: 14px;
    }
}