.navbar-container {
  background: rgba(244, 242, 242, 0.7);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #D32F2F;
}

.navbar-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-link img {
  max-width: 150px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #3d3c3cee;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap;

  &:hover {
    color: #D32F2F;
  }
}

.langbutton {
  background-color: transparent;
  border: none;
  margin-right: -60px;
  margin-top: -50px;
}



@media (max-width: 768px) {
  .menuicon button {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #EEEEEE;
    position: absolute;
    top: 55px;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }
}


@media (min-width: 769px) {
  .menuicon button {
    display: none;
  }
}
