.map {
    position: relative;
  
    .fullscreen-button {
      position: absolute;
      top: 40px;
      left: 1250px;
      padding: 10px 10px;
      z-index: 1;
    }
  
    @media (max-width: 1440px) {
      .fullscreen-button {
        top: 30px; 
        left: 900px;
        padding: 8px 8px; 
      }
  
      @media (max-width: 768px) {
        .fullscreen-button {
          top: 20px; 
          left: 650px; 
          padding: 6px 6px;
        }
      }
    }
}
  