.map {
    position: relative;
  
    .fullscreen-button {
      position: absolute;
      top: 40px;
      left: 1250px;
      padding: 10px 10px;
      z-index: 1;
    }
  
    @media (max-width: 1440px) {
      .fullscreen-button {
        top: 30px; 
        left: 900px; /* Adjust the left position as needed */
        padding: 8px 8px; /* Adjust the padding as needed */
      }
  
      @media (max-width: 768px) {
        .fullscreen-button {
          top: 20px; /* Adjust the top position as needed */
          left: 650px; /* Adjust the left position as needed */
          padding: 6px 6px; /* Adjust the padding as needed */
        }
      }
    }
}
  